@import '../../mixins.scss';

.rating {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  background-color: var(--main);
  border-radius: 50%;
  overflow: hidden;
  padding: 2px;
  @include xs{
    width: 70px;
    height: 70px;
  }
  @include lg{
    width: 60px;
    height: 60px;
  }
  &_card{
    position: absolute;
    bottom: -20px;
    left: 20px;
    background-color: var(--main);
    &::before{
      content: '';
      position: absolute;
      inset:0;
    }
  }


  &_single-movie{
    position: static;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #041226;
    @include md {
      max-width: 90px;
      width: 83px;
      height: 83px;
    }
    .CircularProgressbar-text {
      fill: var(--secondary);
    }
  }
}

:global{
  .CircularProgressbar .CircularProgressbar-text {
    font-size: 26px;
    @include md {
      font-size: 20px;;
    }
  }
}
