@import '../../mixins.scss';

.rating {
  width: 50px;
  position: relative;
  height: 50px;
  flex-shrink: 0;
  background-color: var(--bg-body);
  border-radius: 50%;
  overflow: hidden;
  padding: 2px;
  &::before{
    content: '';
    position: absolute;
    inset:0;
    background-color: black;
    opacity: 0;
  }
  &_card{
    position: absolute;
    bottom: -20px;
    left: 20px;
  }
  .text {
    font-size: 34px;
    font-weight: 700;
    fill: var(--bg-body);
  }

  .text > .CircularProgressbar-trail {
    stroke: transparent;
  }
  &_single-movie{
    position: static;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: var(--main2);
    @include md {
      max-width: 90px;
      width: 83px;
      height: 83px;
    }
    .CircularProgressbar-text {
      fill: var(--secondary);
    }
  }
}
