.wrapper-discover {
  position: relative;
}
.wrapper-discover_show:before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: transparent;
  z-index: 2;
}
.wrapper-discover .select-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 95%;
  border-radius: 30px;
  padding: 10px;
  top: 90px;
  background: var(--bg-body);
  border: 1px solid gray;
  position: absolute;
  z-index: 10;
}
@media only screen and (min-width: 639px) {
  .wrapper-discover .select-group {
    margin-top: 20px;
    position: static;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.wrapper-discover .select-group-hidden {
  visibility: hidden;
  height: 0;
  opacity: 0;
}
@media only screen and (min-width: 639px) {
  .wrapper-discover .select-group-hidden {
    visibility: visible;
    height: auto;
    display: flex;
    opacity: 1;
  }
}
.wrapper-discover .select-group .select {
  width: 100%;
  border-radius: 20px;
  height: 40px;
}
@media only screen and (min-width: 639px) {
  .wrapper-discover .select-group .select {
    width: 50%;
  }
}
@media only screen and (min-width: 1023px) {
  .wrapper-discover .select-group .select {
    width: 100%;
  }
}

.select-group .select :global .ant-select-selector {
  border-radius: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #dabe95;
  font-size: 16px;
}
.select-group .select :global .ant-select-selector:hover, .select-group .select :global .ant-select-selector:focus-visible, .select-group .select :global .ant-select-selector:focus-within {
  background-color: snow;
}
.select-group .select :global .ant-select-selector .ant-select-selection-search {
  display: flex;
  align-items: center;
}
.select-group .select :global .ant-select-selector .ant-select-selection-search input {
  font-size: 16px;
}
.select-group .select :global .ant-select-selector .ant-select-selection-placeholder {
  color: black;
}
.select-group .select :global .ant-select-arrow {
  color: black;
}
.select-group .select :global .ant-select-clear {
  border-radius: 50%;
}
.select-group .select :global .ant-select-clear > span {
  color: black;
}

:global .ant-select-dropdown {
  background-color: var(--main);
}
:global .ant-select-item.ant-select-item-option {
  display: flex;
  align-items: center;
  height: 40px;
  color: var(--secondary);
}
:global .ant-select-item.ant-select-item-option.ant-select-item-option-active {
  background-color: var(--secondary);
  color: var(--main);
}
:global .ant-select-selection-placeholder {
  color: var(--secondary);
}

.sort-popup {
  width: fit-content;
  position: relative;
  display: flex;
}
.sort-popup .sort-popup_btn {
  position: relative;
  width: 120px;
  margin-top: 20px;
  background: var(--bg-body);
  color: var(--secondary);
  border: 1px solid gray;
}
.sort-popup .sort-popup_btn > span {
  fill: var(--secondary);
}
.sort-popup .sort-popup_btn > span > svg {
  width: 25%;
}
@media only screen and (min-width: 639px) {
  .sort-popup .sort-popup_btn {
    display: none;
  }
}

.title-article_center {
  text-align: center;
  padding-top: 100px;
  font-size: clamp(24px, 3vw, 50px);
}

/*# sourceMappingURL=DiscoverVideosSection.module.css.map */
