@import "../../mixins.scss";

.wrapper-discover {
  position: relative;
  &_show {
    &:before {
      position: absolute;
      content: "";
      inset: 0;
      background-color: transparent;
      z-index: 2;
    }
  }
  .select-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 95%;
    border-radius: 30px;
    padding: 10px;
    top: 90px;
    background: var(--bg-body);
    border: 1px solid gray;
    position: absolute;
    z-index: 10;
    @include sm {
      margin-top: 20px;
      position: static;
      display: flex;
      gap: 15px;
      flex-direction: row;
      justify-content: flex-end;
    }
    &-hidden {
      visibility: hidden;
      height: 0;
      opacity: 0;
      @include sm {
        visibility: visible;
        height: auto;
        display: flex;
        opacity: 1;
      }
    }
    .select {
      width: 100%;
      border-radius: 20px;
      height: 40px;
      @include sm {
        width: 50%;
      }
      @include lg {
        width: 100%;
      }
    }
  }
}

.select-group {
  .select :global {
    & .ant-select-selector {
      border-radius: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #dabe95;
      font-size: 16px;
      &:hover,
      &:focus-visible,
      &:focus-within {
        background-color: snow;
      }
      .ant-select-selection-search {
        display: flex;
        align-items: center;
        input {
          font-size: 16px;
        }
      }
      .ant-select-selection-placeholder {
        color: black;
      }
    }
    & .ant-select-arrow {
      color: black;
    }
    & .ant-select-clear {
      border-radius: 50%;
      & > span {
        color: black;
      }
    }
  }
}

:global {
  .ant-select-dropdown {
    background-color: var(--main);
  }
  .ant-select-item.ant-select-item-option {
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--secondary);
  }
  .ant-select-item.ant-select-item-option.ant-select-item-option-active {
    background-color: var(--secondary);
    color: var(--main);
  }
  .ant-select-selection-placeholder {
    color: var(--secondary);
  }
}

.sort-popup {
  width: fit-content;
  position: relative;
  display: flex;
  .sort-popup_btn {
    position: relative;
    width: 120px;
    margin-top: 20px;
    background: var(--bg-body);
    color: var(--secondary);
    border: 1px solid gray;
    & > span {
      fill: var(--secondary);
      & > svg {
        width: 25%;
      }
    }
    @include sm {
      display: none;
    }
  }
}
