@import "../../../mixins.scss";

.banner__img :global {
  .lazy-load-image-background {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.banner {
  width: 100%;
  height: 450px;
  background-color: var(--main);
  display: flex;
  align-items: center;
  position: relative;
  @include md {
    height: 700px;
  }
  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
  }
  .opacity-layer {
    width: 100%;
    height: 220px;
    background: linear-gradient(
      180deg,
      rgba(4, 21, 45, 0) 0%,
      var(--bg-body) 80%
    );
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary);
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-banner-text);
    .title {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 10px;
      @include md {
        margin-bottom: 0;
        font-size: 90px;
      }
    }

    .subtitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 40px;
      @include md {
        font-size: 24px;
      }
    }
    .form {
      position: relative;
      overflow: hidden;
      display: none;
      align-items: center;
      width: 100%;
      max-width: 800px;
      margin: auto;
      padding: 5px;
      background: var(--gradient);
      border-radius: 40px;
      @include s {
        display: flex;
      }
      input {
        width: 100%;
        height: 50px;
        background-color: #dabe95;
        outline: 0;
        border: 0;
        border-radius: 30px;
        padding: 0 120px 0 15px;
        font-size: 14px;
        color: black;
        &:focus-visible {
          background-color: var(--secondary);
          color: var(--main);
        }
        &::placeholder {
          color: black;
        }
        &:focus-visible::placeholder {
          color: rgb(117, 117, 117);
        }
        @include md {
          width: 100%;
          height: 60px;
          font-size: 20px;
          padding: 0 170px 0 30px;
        }
      }
      &__btn {
        position: absolute;
        right: 6px;
        width: 100px;
        height: 46px;
        background-color: var(--blue);
        outline: 0;
        border-radius: 30px;
        font-size: 16px;
        cursor: pointer;
        border: 3px solid transparent;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        & span {
          position: relative;
          z-index: 2;
          color: snow;
        }
        &:before {
          position: absolute;
          content: "";
          left: -100%;
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 0.2s ease-in-out;
          border-radius: 30px;
        }
        &:focus-visible {
          border-color: var(--secondary);
        }
        &:active {
          border-color: var(--secondary);
        }
        &:active:before {
          width: 100%;
          transform: translateX(100%);
          background-color: #017000;
        }
        @include md {
          width: 150px;
          height: 56px;
          font-size: 18px;
        }

        @media (hover: hover) {
          &:hover {
            border-color: var(--secondary);
          }
        }
        @media (hover: none) {
          &:active {
            border-color: var(--secondary);
          }
        }
      }
    }
  }
}
