@import "../../mixins.scss";

.carousel {
  position: relative;
  margin-bottom: 70px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    &_error{
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }
  }
  .carousel__title {
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    font-weight: normal;
  }
}

