@import "../../mixins.scss";

.btn{
  position: fixed;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: var(--main);
  border-radius: 50%;
  z-index: 20;
  box-shadow: 0 0 2px 2px var(--secondary);
  transition: all 0.1s ease-in-out;
  &:hover,
  &:focus-visible{
    box-shadow: 0 0 4px 4px orangered;
    scale: 1.1;
  }
  &:active{
    box-shadow: 0 0 4px 4px red;
    scale: 0.9;
  }
  &_theme{
    bottom: 100px;
    right: 20px;
    @include md{
      right: 50px
    }
  }
  &_up{
    bottom: 160px;
    right: 20px;
    fill:var(--secondary);
    @include md{
      right: 50px
    }
  }
  svg{
    scale:1.5;
  }
}

.close {
  position: absolute;
  top: -50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  right: 0;
  border-radius: 50%;
  overflow: hidden;
  color: snow;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
  }
  &:hover,
  &:focus-visible {
    color: orangered;
    scale: 1.2;
  }
  &:active {
    scale: 0.9;
    color: snow;
  }
}


.arrow{
  fill: white;
}
