@import "../../mixins.scss";
.error-wrapper{
  margin-top: 100px;
  margin-bottom: 60px;
  .error{
    height: 400px;
    margin: 20px 0;
    width: 100%;
    border-radius: 15px;
    background-color: var(--bg-skeleton);
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 10px;
      color: #961212;
      text-shadow: 0 0 2px white;
      letter-spacing: 5px;
      font-size: clamp(1rem, 3vmax, 3rem);
    }
  }
}


