@import "../../mixins.scss";

.error-wrapper {
  margin-top: 100px;
  margin-bottom: 60px;
  &.non-padding {
    padding: 0;
  }
  .error {
    height: 400px;
    margin: 20px 0;
    width: 100%;
    @include flex-c-c;
    border-radius: 15px;
    background-color: var(--bg-skeleton);
    color: aliceblue;
    &__text {
      @include flex-c-c;
      width: 100%;
      padding: 10px;
      color: #961212;
      text-shadow: 0 0 2px white;
      letter-spacing: 5px;
      font-size: clamp(1rem, 3vmax, 3rem);
    }
  }
}
