@import "../../mixins.scss";

.skeletons__item {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  &_flex{
    flex-grow: 1;
    max-width: 216px;
    @include md {
      max-width: 314px;
    }
    @include lg {
      max-width: 274px;
    }
  }
  .poster {
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    margin-bottom: 30px;
  }
  .text {
    display: flex;
    flex-direction: column;
    .title {
      width: 100%;
      height: 20px;
      margin-bottom: 10px;
    }
    .genre {
      width: 100%;
      min-height: 20px;
      margin-bottom: 10px;
    }
    .date {
      width: 75%;
      height: 20px;
    }
  }
}
