.opacity-backdrop {
  position: absolute;
  inset: 0;
  opacity: 0.3;
  z-index: -1;
}
.opacity-backdrop > span {
  width: 100%;
  height: 100%;
}
.opacity-backdrop > span img {
  filter: blur(15px);
}

.profile {
  display: flex;
  flex-direction: column;
}
.profile__content {
  padding: 40px 0 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  line-height: 30px;
}
@media only screen and (min-width: 639px) {
  .profile__content {
    flex-direction: row;
    height: 570px;
  }
}
.profile__content__photo {
  min-width: 240px;
  aspect-ratio: 9/16;
  width: 100%;
  border-radius: 12px;
  background-color: var(--bg-skeleton);
  overflow: hidden;
  max-height: 600px;
}
@media only screen and (min-width: 767px) {
  .profile__content__photo {
    width: 65%;
    gap: 10px;
  }
}
@media only screen and (min-width: 1023px) {
  .profile__content__photo {
    width: 50%;
    gap: 10px;
  }
}
.profile__content__photo > span {
  width: 100%;
  height: 100%;
}
.profile__content__photo > span img {
  border-radius: 12px;
  object-position: top;
}
.profile__content__info {
  height: fit-content;
  color: var(--secondary);
  width: 100%;
}
.profile__content__info .info-item,
.profile__content__info .info-span {
  font-size: 1rem;
  text-transform: uppercase;
}
.profile__content__info .info-item .name,
.profile__content__info .info-span .name {
  color: var(--text-person-name-span-color);
  text-shadow: 1px 0 black;
}
.profile__content__info .info-item .text,
.profile__content__info .info-span .text {
  text-transform: initial;
  padding-left: 5px;
  font-size: 1.2rem;
  color: var(--secondary);
}
.profile__content__info .biography_short {
  position: relative;
  text-align: start;
  padding-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  margin: 20px auto;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary);
}
.profile__content__info .biography_short .more__btn {
  width: 50px;
  height: 35px;
  position: absolute;
  bottom: 2px;
  right: -35px;
  transform: translateX(-50%);
  z-index: 1;
  outline: none;
  border-radius: 12px;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}
.profile__content__info .biography_short .more__btn:focus, .profile__content__info .biography_short .more__btn:active, .profile__content__info .biography_short .more__btn:focus-visible {
  outline: none;
}
.profile__content__info .biography_short .more__btn:hover, .profile__content__info .biography_short .more__btn:focus-visible {
  bottom: 0;
}
.profile__content__info .biography_short .more__btn:hover > svg, .profile__content__info .biography_short .more__btn:focus-visible .svg {
  transform: rotate(90deg);
  transition: all 0.1s ease-in-out;
}
.profile__content__info .biography_short .more__btn:active svg {
  scale: 1;
}
.profile__content__info .biography_short .more__btn svg {
  width: 100%;
  height: 100%;
}
.profile__content__info_skeleton {
  display: grid;
  gap: 10px;
}
.profile__content__info_skeleton .info-item_skeleton {
  height: 20px;
}
.profile__content__info_skeleton .info-item_skeleton:first-child {
  width: 70%;
}
.profile__content__info_skeleton .info-item_skeleton:nth-child(2) {
  width: 145px;
}
.profile__content__info_skeleton .info-item_skeleton:nth-child(3) {
  width: 200px;
}
.profile__content__info_skeleton .info-item_skeleton:nth-child(4) {
  width: 220px;
}
.profile__content__info_skeleton .info-item_skeleton:nth-child(5) {
  width: 100%;
}
.profile__content__info_skeleton .info-item_skeleton:last-child {
  width: 190px;
}
.profile__content__info_skeleton .biography_skeleton {
  height: 220px;
  margin-bottom: 30px;
}

.btn__group-skeleton {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  container: skeleton-container/inline-size;
}
.btn__group-skeleton .btn__sort-skeleton {
  position: relative;
  min-width: 135px;
  height: 40px;
  display: grid;
  grid-auto-flow: column;
  border-radius: 30px;
  overflow: hidden;
}
.btn__group-skeleton .btn__sort-skeleton:nth-child(3) {
  min-width: 150px;
}
.btn__group-skeleton .btn__sort-skeleton:last-child {
  min-width: 130px;
}
@container skeleton-container (width < 440px) {
  .btn__group-skeleton .btn__sort-skeleton {
    justify-content: space-between;
    width: 100%;
  }
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
}
.modal__content {
  position: absolute;
  width: 90%;
  max-height: 80vh;
  font-size: 18px;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
}
.modal__content::before, .modal__content::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 30px;
  background-color: var(--main);
}
.modal__content::before {
  top: -1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.modal__content::after {
  bottom: -6px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.modal__content .modal__text {
  max-height: inherit;
  overflow: auto;
  border-radius: 20px;
  background-color: var(--main);
  color: var(--secondary);
  padding: 20px;
  white-space: break-spaces;
}
@media only screen and (min-width: 767px) {
  .modal__content {
    width: 70%;
  }
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  justify-content: space-between;
}
@media only screen and (min-width: 479px) {
  .heading {
    align-items: center;
    flex-direction: row;
  }
}

.container-sort {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  container: sort-btn-container/inline-size;
}

.link_pink:hover,
.link_pink:focus-visible {
  color: var(--pink);
}

.grid_person-movies {
  margin-top: 20px !important;
}

/*# sourceMappingURL=PersonSection.module.css.map */
