@import "../../mixins.scss";

.opacity-backdrop {
  position: absolute;
  inset: 0;
  opacity: 0.3;
  z-index: -1;
  & > span {
    img {
      filter: blur(15px);
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  &__content {
    padding: 40px 0 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    line-height: 30px;
    @include sm {
      flex-direction: row;
      height: 570px;
    }
    &__photo {
      min-width: 240px;
      width: 100%;
      border-radius: 12px;
      background-color: var(--bg-skeleton);
      overflow: hidden;
      @include md {
        width: 65%;
        gap: 10px;
      }
      @include lg {
        width: 50%;
        gap: 10px;
      }
      & > span {
        width: 100%;
        height: 100%;
        img {
          border-radius: 12px;
          object-position: top;
        }
      }
    }
    &__info {
      height: fit-content;
      color: var(--secondary);
      width: 100%;
      .info-item,
      .info-span {
        color: #ec5f2b;
        font-size: 1rem;
        text-transform: uppercase;
        .text {
          text-transform: initial;
          padding-left: 5px;
          font-size: 1.2rem;
          color: var(--secondary);
        }
      }
      .biography {
        &_short {
          position: relative;
          text-align: start;
          padding-right: 10px;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          margin: 20px auto;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: var(--secondary);
          .more__btn {
            width: 50px;
            height: 35px;
            position: absolute;
            bottom: 2px;
            right: -35px;
            transform: translateX(-50%) rotate(270deg);
            z-index: 1;
            outline: none;
            border-radius: 12px;
            font-size: 1.2rem;
            color: #ec5f2b;
            transition: all 0.2s ease-in-out;
            &:focus,
            &:active,
            &:focus-visible {
              outline: none;
            }
            &:hover,
            &:focus-visible {
              bottom: 0;
            }
            &:hover > svg,
            &:focus-visible .svg {
              transform: rotate(90deg);

              transition: all 0.2s ease-in-out;
            }
            &:active svg {
              scale: 1;
            }
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  &__content__info_skeleton {
    display: grid;
    gap: 10px;
    .info-item_skeleton {
      height: 20px;
    }
    .info-item_skeleton:first-child {
      width: 70%;
    }
    .info-item_skeleton:nth-child(2) {
      width: 145px;
    }
    .info-item_skeleton:nth-child(3) {
      width: 200px;
    }
    .info-item_skeleton:nth-child(4) {
      width: 220px;
    }
    .info-item_skeleton:nth-child(5) {
      width: 100%;
    }
    .info-item_skeleton:last-child {
      width: 190px;
    }
    .biography_skeleton {
      height: 220px;
      margin-bottom: 30px;
    }
  }
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  &__content {
    position: absolute;
    width: 90%;
    max-height: 80vh;
    font-size: 18px;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 30px;
      background-color: var(--main);
    }
    &::before {
      top: -1px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    &::after {
      bottom: -6px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .modal__text {
      max-height: inherit;
      overflow: auto;
      border-radius: 20px;
      background-color: var(--main);
      color: var(--secondary);
      padding: 20px;
      white-space: break-spaces;
    }
    @include md {
      width: 70%;
    }
  }
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    color: var(--secondary);
  }
}

.link_pink:hover,
.link_pink:focus-visible{
  color: var(--pink);
}
