@import "../../mixins.scss";

.opacity-backdrop {
  position: absolute;
  inset: 0;
  opacity: 0.3;
  z-index: -1;
  & > span {
    width: 100%;
    height: 100%;
    img {
      filter: blur(15px);
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  &__content {
    padding: 40px 0 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    line-height: 30px;
    @include sm {
      flex-direction: row;
      height: 570px;
    }
    &__photo {
      min-width: 240px;
      aspect-ratio: 9/16;
      width: 100%;
      border-radius: 12px;
      background-color: var(--bg-skeleton);
      overflow: hidden;
      max-height: 600px;
      @include md {
        width: 65%;
        gap: 10px;
      }
      @include lg {
        width: 50%;
        gap: 10px;
      }
      & > span {
        width: 100%;
        height: 100%;
        img {
          border-radius: 12px;
          object-position: top;
        }
      }
    }
    &__info {
      height: fit-content;
      color: var(--secondary);
      width: 100%;
      .info-item,
      .info-span {
        font-size: 1rem;
        text-transform: uppercase;
        .name {
          color: var(--text-person-name-span-color);
          text-shadow: 1px 0 black;
        }
        .text {
          text-transform: initial;
          padding-left: 5px;
          font-size: 1.2rem;
          color: var(--secondary);
        }
      }
      .biography {
        &_short {
          position: relative;
          text-align: start;
          padding-right: 20px;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          margin: 20px auto 0;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: var(--secondary);
        }
        .more__btn {
          display: block;
          bottom: 2px;
          right: -35px;
          z-index: 1;
          outline: none;
          border-radius: 12px;
          font-weight: 300;
          font-size: 16px;
          padding: 5px;
          border-radius: 5px;
          background-color: gray;
          transition: all 0.1s ease-in-out;
          &:focus-visible {
            color: gray;
            background-color: white;
          }

          @media (hover: hover) {
            &:hover {
              color: gray;
              background-color: white;
            }
          }
          @media (hover: none) {
            &:active {
              color: gray;
              background-color: white;
            }
          }
        }
      }
    }
  }
  &__content__info_skeleton {
    display: grid;
    gap: 10px;
    .info-item_skeleton {
      height: 20px;
    }
    .info-item_skeleton:first-child {
      width: 70%;
    }
    .info-item_skeleton:nth-child(2) {
      width: 145px;
    }
    .info-item_skeleton:nth-child(3) {
      width: 200px;
    }
    .info-item_skeleton:nth-child(4) {
      width: 220px;
    }
    .info-item_skeleton:nth-child(5) {
      width: 100%;
    }
    .info-item_skeleton:last-child {
      width: 190px;
    }
    .biography_skeleton {
      height: 220px;
      margin-bottom: 30px;
    }
  }
}

.btn__group-skeleton {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  container: skeleton-container / inline-size;
  .btn__sort-skeleton {
    position: relative;
    min-width: 135px;
    height: 40px;
    display: grid;
    grid-auto-flow: column;
    border-radius: 30px;
    overflow: hidden;
    &:nth-child(3) {
      min-width: 150px;
    }
    &:last-child {
      min-width: 130px;
    }
    @container skeleton-container (width < 440px) {
      justify-content: space-between;
      width: 100%;
    }
  }
}

.modal {
  position: fixed;
  @include flex-c-c;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  &__content {
    position: absolute;
    width: 90%;
    max-height: 80vh;
    font-size: 18px;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 30px;
      background-color: var(--main);
    }
    &::before {
      top: -1px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    &::after {
      bottom: -6px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .modal__text {
      max-height: inherit;
      overflow: auto;
      border-radius: 20px;
      background-color: var(--main);
      color: var(--secondary);
      padding: 20px;
      white-space: break-spaces;
    }
    @include md {
      width: 70%;
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  justify-content: space-between;
  @include s {
    align-items: center;
    flex-direction: row;
  }
}

.container-sort {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  container: sort-btn-container / inline-size;
}

.link_pink:focus-visible {
  color: var(--pink);
}

@media (hover: hover) {
  .link_pink:hover {
    color: var(--pink);
  }
}
@media (hover: none) {
  .link_pink:active {
    color: var(--pink);
  }
}

.grid_person-movies {
  margin-top: 20px !important;
}
