.search-section{
  margin-top: 100px;
  .list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    align-items: center;
    margin: 40px auto;
    gap: 20px;
    //display: flex;
    //flex-wrap: wrap;
  }
}

