.btn-gradient{
  border-radius: 30px;
  height: 40px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  z-index: 2;
  & > span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    gap: 10px;
    padding: 0 10px;
    position: relative;
    z-index: 2;
  }
  & > svg {
    height: 100%;
    width: 25%;
  }
  &:before {
    position: absolute;
    content: "";
    inset: 0;
    width: 0;
    background: var(--gradient);
    z-index: 1;
    transition: all 0.2s ease-in-out;
  }
  &:after {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  &:active {
    scale: 0.9;
  }
  &:hover::before,
  &:focus-visible::before {
    width: 100%;
  }
}
