.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: auto;
  background-color: var(--bg-header-footer);
  z-index: 25;
}
.header.top {
  background-color: var(--bg-header-footer);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.header.show {
  background-color: var(--bg-header-footer);
}
.header.hide {
  transform: translateY(-60px);
}
.header.mobile__view {
  background: var(--bg-header-footer);
}
.header .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  gap: 10px;
  padding: 20px 0;
}
@media only screen and (min-width: 320px) {
  .header .nav {
    flex-direction: row;
    padding: 10px 0;
  }
}
.header .nav .logo {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  width: max-content;
  font-size: 28px;
  background-image: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
}
.header .nav .logo:hover, .header .nav .logo:focus-visible {
  background-image: var(--gradient-reverse);
}
.header .nav .logo:hover::before, .header .nav .logo:focus-visible::before {
  background-image: var(--gradient-reverse);
  width: 100%;
  opacity: 1;
}
.header .nav .logo:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 5%;
  border-radius: 20px;
  background-image: var(--gradient-reverse);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.header .nav .logo img {
  height: 50px;
}
.header .nav .nav__desktop {
  display: none;
}
@media only screen and (min-width: 479px) {
  .header .nav .nav__desktop {
    display: flex;
    gap: 20px;
  }
}
.header .nav .nav__desktop__item {
  cursor: pointer;
}
.header .nav .nav__desktop__item .nav__desktop__link {
  padding: 10px 0;
  display: block;
  position: relative;
  color: snow;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.header .nav .nav__desktop__item .nav__desktop__link:hover, .header .nav .nav__desktop__item .nav__desktop__link:focus-visible {
  color: var(--pink);
}
.header .nav .nav__desktop__item .nav__desktop__link:hover::before, .header .nav .nav__desktop__item .nav__desktop__link:focus-visible::before {
  background-image: var(--gradient-reverse);
  width: 100%;
  opacity: 1;
}
.header .nav .nav__desktop__item .nav__desktop__link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 0;
  border-radius: 20px;
  background-image: var(--gradient-reverse);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.header .nav .buttons__mobile__menu {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media only screen and (min-width: 479px) {
  .header .nav .buttons__mobile__menu {
    display: none;
  }
}
.header .list {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  margin: 0;
  list-style-type: none;
  background-color: var(--main);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
@media only screen and (min-width: 320px) {
  .header .list {
    top: 70px;
  }
}
.header .search {
  padding: 20px 10px;
  background-color: var(--bg-header-footer);
}
@media only screen and (min-width: 767px) {
  .header .search {
    padding: 30px 40px;
  }
}
.header .search .form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 479px) {
  .header .search .form {
    flex-direction: row;
    align-items: start;
  }
}
.header .search .form .input_search {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--secondary);
  outline: 0;
  border: 0;
  border-radius: 30px;
  padding: 0 15px;
  font-size: 16px;
  color: var(--main);
}
.header .search .form .input_search::before {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  width: 50px;
  border-radius: 30px 0 0 30px;
  background-color: var(--secondary);
}
.header .nav__mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  height: auto;
  background-color: var(--bg-header-footer);
}
@media only screen and (min-width: 320px) {
  .header .nav__mobile {
    height: 150px;
  }
}
.header .nav__mobile__item {
  color: snow;
  width: 100%;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
.header .nav__mobile__item .nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: snow;
  width: 100%;
  padding: 15px 20px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.header .nav__mobile__item .nav__link:hover, .header .nav__mobile__item .nav__link:focus-visible {
  color: var(--pink);
  background-color: azure;
}

.button {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:before {
  content: "";
  position: absolute;
  inset: 0;
}
.button:active {
  scale: 0.9;
}
.button:hover, .button:focus-visible {
  background-image: var(--gradient-reverse);
}
.button_submit {
  width: 100px;
  border-radius: 20px;
}
.button_submit > img {
  width: 40px;
}
@media only screen and (min-width: 479px) {
  .button_submit {
    width: 50px;
    border-radius: 50%;
  }
  .button_submit > img {
    width: 100%;
  }
}

/*# sourceMappingURL=Index.module.css.map */
