@import "../../mixins.scss";

.error-slider{
  height: 300px;
  max-height: 406px;
  width: 100%;
  border-radius: 15px;
  background-color: #193763;
  color:aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  @include md {
    height: 400px;
  }
}
.error-trailer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
