.details {
  position: relative;
  width: 100%;
  background-color: var(--black);
  padding-top: 100px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .details {
    margin-bottom: 0;
    padding-top: 120px;
    min-height: 700px;
  }
}
.details .backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0.1;
  overflow: hidden;
}
.details .backdrop > span {
  width: 100%;
  height: 100%;
}
.details .backdrop > span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.details .opacity-layer {
  width: 100%;
  height: 250px;
  background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.details .content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
}
@media only screen and (min-width: 768px) {
  .details .content {
    gap: 50px;
    flex-direction: row;
  }
}
.details .content .poster {
  flex-shrink: 0;
}
.details .content .poster .poster__img {
  width: 100%;
  display: block;
  border-radius: 12px;
}
@media only screen and (min-width: 768px) {
  .details .content .poster .poster__img {
    max-width: 350px;
  }
}
.details .content .about {
  color: white;
}
.details .content .about .title {
  font-size: 28px;
  line-height: 40px;
}
@media only screen and (min-width: 768px) {
  .details .content .about .title {
    font-size: 34px;
    line-height: 44px;
  }
}
.details .content .about .subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  font-style: italic;
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .details .content .about .subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}
.details .content .about .genres {
  margin-bottom: 25px;
  flex-flow: row wrap;
}
.details .content .about .overview {
  margin-bottom: 25px;
}
.details .content .about .overview .heading {
  font-size: 24px;
  margin-bottom: 10px;
}
.details .content .about .overview .description {
  line-height: 24px;
}
.details .content .about .row {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}
.details .content .about .row .play {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.details .content .about .row .play svg {
  width: 60px;
}
@media only screen and (min-width: 768px) {
  .details .content .about .row .play svg {
    width: 80px;
  }
}
.details .content .about .row .play .text {
  font-size: 20px;
  transition: all 0.7s ease-in-out;
}
.details .content .about .row .play .triangle {
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: white;
  transform: translateY(0);
  transition: all 0.7s ease-in-out;
}
.details .content .about .row .play .circle {
  stroke: white;
  stroke-dasharray: 650;
  stroke-dashoffset: 1300;
  transition: all 0.5s ease-in-out;
}
.details .content .about .row .play:hover .text {
  color: var(--pink);
}
.details .content .about .row .play:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: var(--pink);
  animation: trailorPlay 0.7s ease-in-out;
}
.details .content .about .row .play:hover .circle {
  stroke-dashoffset: 0;
  stroke: var(--pink);
}
.details .content .about .info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0;
  display: flex;
}
.details .content .about .info .info__item {
  margin-right: 10px;
  display: flex;
  flex-flow: row wrap;
}
.details .content .about .info .text {
  margin-right: 10px;
  opacity: 0.5;
  line-height: 24px;
}
.details .content .about .info .text.bold {
  font-weight: 600;
  opacity: 1;
}
.details .skeleton {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
}
@media only screen and (min-width: 768px) {
  .details .skeleton {
    gap: 50px;
    flex-direction: row;
  }
}
.details .skeleton .wrapper {
  display: flex;
  gap: 50px;
}
.details .skeleton .left {
  flex-shrink: 0;
  width: 100%;
  display: block;
  border-radius: 12px;
  aspect-ratio: 1/1.5;
}
@media only screen and (min-width: 768px) {
  .details .skeleton .left {
    max-width: 350px;
  }
}
.details .skeleton .right {
  width: 100%;
}
.details .skeleton .right .row {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 50px;
}
.details .skeleton .right .row:nth-child(2) {
  width: 75%;
  margin-bottom: 50px;
}
.details .skeleton .right .row:nth-child(5) {
  width: 50%;
  margin-bottom: 50px;
}

.company {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}
.company .company__logo span {
  flex-shrink: 0;
  background: aliceblue;
  padding: 5px 10px;
  border-radius: 15px;
}
.company .company__logo span img {
  width: 100px;
  object-fit: contain;
  height: 40px;
}
.company .company__logo .icon-placeholder {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: aliceblue;
  border-radius: 15px;
  color: black;
}

/*# sourceMappingURL=MovieDetails.module.css.map */
