.tab{
  padding: 4px;
  background-image: var(--gradient);
  border-radius: 20px;
  .tab__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 200px;
    background-color: var(--secondary);
    border-radius: 20px;
    .tab__label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50%;
      height: 34px;
      border-radius: 30px;
      color:black;
      cursor: pointer;
      z-index: 10;
      transition: color 0.3s ease-in-out;
      &.active{
        color:var(--secondary)
      }
      .tab__item {
        width: 50%;
        text-align: center;
      }
    }
    .tab__radio {
      position: absolute;
      opacity: 0;
      inset:0;
      border-radius: 30px;
      cursor: pointer;
      &:focus-visible + .tab__label-span{
        border: 4px solid orange;
      }
    }
    .tab__label-span{
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
    }
    .slider {
      position: absolute;
      background-color: var(--blue);
      left:0;
      width: 50%;
      height: 100%;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &_left{
        transform: translateX(0);
      }
      &_right{
        transform: translateX(100%);
      }
    }
  }
}
