@import "../../../mixins.scss";

@mixin svg-default {
  .triangle {
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: var(--secondary);
    transform: translateY(0);
    transition: all 0.7s ease-in-out;
  }
  .circle {
    stroke: var(--secondary);
    stroke-dasharray: 650;
    stroke-dashoffset: 1300;
    transition: all 0.5s ease-in-out;
  }
}

@mixin svg-hover {
  .text {
    color: var(--pink);
  }
  .triangle {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: var(--pink);
    animation: trailorPlay 0.7s ease-in-out;
  }
  .circle {
    stroke-dashoffset: 0;
    stroke: var(--pink);
  }
}

.play {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  svg {
    width: 60px;
    @include md {
      width: 80px;
    }
  }
  .title {
    font-size: 20px;
    transition: all 0.7s ease-in-out;
  }
  @include svg-default;
  .play__btn:focus-visible {
    @include svg-hover;
  }

  @media (hover: hover) {
    play__btn:hover {
      @include svg-hover;
    }
  }
  @media (hover: none) {
    play__btn:active {
      @include svg-hover;
    }
  }
}

.play-item {
  position: absolute;
  inset: 0;
  svg {
    width: 60px;
    @include md {
      width: 80px;
    }
  }
  .title {
    display: none;
  }
  @include svg-default;
  .play__btn {
    position: absolute;
    inset: 0;
    @media (hover: hover) {
      &:hover {
        background-color: rgba(7, 7, 253, 0.25);
        @include svg-hover;
      }
    }
    @media (hover: none) {
      &:active {
        background-color: rgba(7, 7, 253, 0.25);
        @include svg-hover;
      }
    }
    &:focus-visible {
      background-color: rgba(7, 7, 253, 0.25);
      @include svg-hover;
    }
  }
}
