.close {
  position: absolute;
  top: -50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  right: 0;
  border-radius: 50%;
  overflow: hidden;
  color: snow;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:before{
    content: '';
    position: absolute;
    inset:0;
  }
  &:hover,
  &:focus-visible{
    scale: 1.3;
    color: orangered;
    svg{
      stroke: black;
      stroke-width: 5px;
    }
  }
  &:active{
    scale: 0.9;
    color:snow;
  }
  svg{
    width: 100%;
    height: 100%;
  }
}
