@import "../../mixins.scss";

.slider-box {
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    justify-content: space-between;
    @include s {
      align-items: center;
      flex-direction: row;
    }
  }
  .slider {
    .wrapper {
      &_flex {
        padding-top: 20px;
        display: flex;
        gap: 15px;
        overflow-x: auto;
        scroll-behavior: smooth;
      }
      @media screen and (max-width: 1024px) {
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .slides {
        scroll-behavior: smooth;
      }
      .slider__title {
        font-size: 24px;
        color: var(--secondary);
        margin-bottom: 20px;
        font-weight: normal;
      }
      .arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        padding: 10px;
        top: 50%;
        display: none;
        border-radius: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        fill: var(--main);
        z-index: 3;
        transition: all 0.2s ease-in-out;
        &::before {
          content: "";
          position: absolute;
          border-radius: 50%;
          margin: 5px;
          inset: 0;
          z-index: -1;
          background-image: var(--gradient);
        }
        & > svg {
          height: 100%;
          width: 100%;
        }
        @include md {
          display: block;
        }
        &:disabled {
          opacity: 0.5;
        }
        &:focus-visible {
          scale: 1.2;
          opacity: 1;
          fill: var(--secondary);
        }
        @media (hover: hover) {
          &:hover {
            scale: 1.2;
            opacity: 1;
            fill: var(--secondary);
          }
        }
        @media (hover: none) {
          &:active {
            scale: 1.2;
            opacity: 1;
            fill: var(--secondary);
          }
        }
      }
      .arrow_left {
        left: 30px;
      }
      .arrow_right {
        right: 30px;
      }
      .arrow_hidden {
        display: none;
      }
      .slides,
      ul {
        display: flex;
        gap: 20px;
        overflow-y: hidden;
        padding: 20px 0;
        width: calc(100vw - 25px) !important;
        @include md {
          width: calc(100vw - 40px) !important;
        }
      }
    }
  }
}
