@import "../../mixins.scss";

.slider {
  margin-bottom: 50px;
  .wrapper {
    position: relative;
    .slider__title {
      font-size: 24px;
      color: white;
      margin-bottom: 20px;
      font-weight: normal;
    }
    .arrow {
      font-size: 30px;
      color: white;
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      z-index: 1;
      display: none;
      transition: scale 0.2s ease-in-out;
      @include md {
        display: block;
      }
      &:hover,
      &:focus-visible{
        scale: 1.2;
      }
      &:disabled{
        opacity: 0.5;
      }
    }
    .arrow_left {
      left: 30px;
    }
    .arrow_right {
      right: 30px;
    }
    .slides {
      display: flex;
      gap: 10px;
      overflow-y: hidden;
      width: calc(100vw - 40px);
      @include md {
        gap: 20px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        max-width: 100%;
        width: calc(100vw - 40px);
      }
    }
  }
}
